
---
- name: Add users tagged 'docker' to the docker group
  user:
    name: "{{ item.name }}"
    groups: docker
    append: yes
  loop: "{{ (merged_common_users | default([])) | selectattr('tags','defined') | selectattr('tags','contains','docker') | list }}"
  loop_control:
    label: "{{ item.name }}"

- name: Get current members of the docker group
  command: getent group docker
  register: docker_group
  changed_when: false

- name: Remove users no longer tagged 'docker' from docker group
  user:
    name: "{{ item }}"
    groups: "{{ (ansible_facts.getent_passwd[item].groups | default([])) | difference(['docker']) | join(',') }}"
    append: no
  loop: >-
    {{
      (docker_group.stdout.split(':')[-1].split(',') | reject('equalto','') | list)
      | difference(
          (merged_common_users | default([]))
          | selectattr('tags','defined')
          | selectattr('tags','contains','docker')
          | map(attribute='name')
          | list
        )
    }}
  when: docker_group.stdout != ''
  loop_control:
    label: "{{ item }}"
